:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --secondary-text-color: #757575;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
}
h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

a {
  color: #212121;
}

.logo > span {
  color: #2196f3;
}

.mail-color {
  color: #2196f3;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav a {
  text-decoration: none;
}
.site-nav {
  list-style: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  list-style: none;
}
.button {
  text-decoration: none;
}
.auth-nav .button:hover,
.auth-nav .button:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.list-works {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
}
.filter {
  list-style: none;
}

.list-works:hover,
.list-works:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.work-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  font-style: normal;
  list-style: none;
}

.adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.adress .version {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.version {
  background-color: #2f303a;
}
.adress .text {
  background-color: #2f303a;
}

.adress .version:hover,
.adress .version:focus {
  color: var(--accent-color);
}

.go {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.news {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social-site {
  list-style: none;
}
.link-social:hover,
.link-social:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero {
  text-align: center;
}
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.button-hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.proposition {
  list-style: none;
}
.proposition-img:hover,
.proposition-img:focus {
  background-color: var(--accent-color);
}
h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.proposition-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.works-list {
  list-style: none;
}
.title-main-works {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.type-works {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.name-team {
  list-style: none;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.clients {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.clients.list:hover,
.clients.list:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.dev-by {
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
