:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --secondary-text-color: #757575;
  --logo-color: #2196f3;
  --background-color: #2f303a;
}
body {
  background-color: var(--primary-white-color);
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

footer {
  background-color: var(--background-color);
}

.mail-color {
  color: var(--secondary-text-color);
}

.logo > span {
  color: var(--logo-color);
}
.logo {
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--title-text-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.site-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.mail-color :hover,
.mail-color :focus {
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.button {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  border-radius: 4px;
}

.auth-nav {
  font-weight: 500;
  line-height: 1.14;
  list-style: none;
  font-style: normal;
  color: var(--secondary-text-color);
}

.auth-nav .button:hover,
.auth-nav .button:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.list-works {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-decoration: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;
  font-family: inherit;
}

.list-works:hover,
.list-works:focus,
.current-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.work-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.adress {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  text-transform: none;
}

.text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.version {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.news {
  font-weight: bold;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.current {
  color: var(--accent-color);
}
.hero {
  text-align: center;
  background-color: var(--background-color);
}

.title-hero {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.button-hero {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: inherit;
}

.proposition-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.title {
  font-size: 14;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.title-main {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.title-port {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.type-works {
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.clients {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.clients.list:hover,
.clients.list:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.dev-by {
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: #2f303a;
}

.logo-2 > span {
  color: var(--logo-color);
}
.logo-2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--background-color);
}

.logo-2 :hover,
.logo-2 :focus {
  color: var(--accent-color);
}
